{% extends "layout.njk" %}

{% block content %}
    <div class="cards table-container">
        <a href="/students/create">Novo</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Disciplinas</th>
                    <th>Ação</th>
                </tr>
            </thead>

            {% for student in students %}
                <tbody>
                    <tr>
                        <td>
                            <span s
                                style="background-image: url({{ student.avatar_url }})">
                            </span>
                            {{ student.name }}
                        </td>
                        <td>{{ student.services }}</td>
                        <td><a href="/students/{{ student.id }}">Ver</a></td>
                    </tr>
                </tbody>
            {% endfor %}      
        </table>
    </div>
{% endblock content %}