{% extends "layout.njk" %}

{% block content %}
    <div class="cards">
        <section class="avatar" style="background: url({{ student.avatar_url }}) no-repeat center center / cover"></section>

        <section class="details">
            <h3>Detalhes</h3>
            <div class="item">
                <div>Nome Completo</div>
                <div>{{ student.name }}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{ student.age }}</div>
            </div>

            <div class="item">
                <div>Aniversario</div>
                <div>{{ student.birthday }}</div>
            </div>

            <div class="item">
                <div>E-Mail</div>
                <div>{{ student.email }}</div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>{{ student.level }}</div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>{{ "Presencial" if student.class_type == "P" else "À distancia" }}</div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>{{ student.create_at }}</div>
            </div>

            <a href="/students/{{ student.id }}/edit" class="button">Editar</a>

        </section>
    </div>
{% endblock content %}